html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
}
body{
	background:#E6E6FA;
}
.container{
	padding: 0;
	margin: 0;
	background: #E6E6FA;

}
#header_wrapper{
	width: 100%;
	height:100px;
	border-bottom: 5px solid brown;
	background: #1e90ff;
    padding: 10px;
}
#header{
width: 1000px;
height: 100px;
margin: 0 auto;
}
#form1{
	float: right;
	line-height: 100px;
}
#form1 input {
	width: 150px;
	height: 20px;
	padding: 10px;
	border-radius: 10px;
}
#form1 button{
	width: 100px;
	padding: 12px;
	border-radius: 10px;
}
#form1 button:hover{
	color: white;
	background: blue;
}

#content{
	width: 1000px;
	margin: 0 auto;

}
#form2{
float: right;
margin-top: 20px;
}
#form2 input{
	width: 250px;
	height: 20px;
	padding: 10px;
	border: 1px solid brown;
	border-radius: 10px;
}
#form2 select{
	width: 270px;
	padding: 10px;
	border: 1px solid brown;
	border-radius: 10px;
}
#form2 button{
	width: 270px;
	padding: 10px;
	border: 1px solid brown;
	border-radius: 10px;
	margin-left: 75px;
}
#form2 button:hover{
	color: white;
	background: blue;
	}

#form2 h1{
	padding: 30px;
	margin-left: 65px;
	font-family: Comic Sans MS;
}	


#footer{
	width: 100%;
	height: 50px;
	padding: 10px;
	border-top: 5px solid brown;
	clear: both;
	background: #1e90ff;

}
#footer h2{
	padding: 10px;
	margin-top: 20px;
	font-size: 2em;
	color: white;
	text-align: center;  
}
/*echo("Error: ".mysqli_error($con));*/